body{
  font-family: "Montserrat";
  text-align: center;
}
#title{
  background: #ff4c68;
  padding-bottom: 5.3%;
  text-align: left;

}

.container-fluid{
  padding: 7% 15%;
}

h1,h2,h3,h4,h5,h5{
  font-family: "Montserrat-Bold";
  font-weight: 900;
  /* padding-left: 15%; */
}

p{
  color: #8f8f8f;
}
.row{
  padding-left: 15%;
  margin-right: auto;
}
.navbar-nav{
  padding-left: 70%;
}
.navbar-brand{
  /* font-family: "Ubuntu"; */
  font-weight:500;
  font-size: 200%;
}
.navbar{
  padding-bottom: 0 0 4.5rem;
}
.nav-item{
   padding: 0 18px;
}
.big-heading{
  color: #ffffff ;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding: 7% 15%;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.phone{
  transform: rotate(25deg);
   /* margin:0 0 5% 0;  */
  width: 27%;
position: absolute;
}
.nav-item{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.download-button{
  margin: 5% 3% 5% 3%;
}
.fa{
  width: 30%;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
   /* z-index: 1; */
}
.feature-title{
  font-size: 1.5rem;
}
.feature-box{
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}
.icon:hover{
color: #ff4c68;
}
#testimonials{
   padding: 7% 15%;
  background-color: #ef8172;
  color: #ffffff;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  padding: 0 3% 3% 3%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
.carousel-control-next-icon{
  width: 40px;
  height: 40px;
}
.carousel-control-prev-icon{
  width: 40px;
  height: 40px;
}

#pricing{
  padding: 100px;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
.card{
  margin: 10% 6% 10% 6%;
}
@media  (max-width: 1028px){
  #title{
    text-align: center;
    
  }
  .phone{
    position:static;
    transform: rotate(0);
     
  }
}
.download-button1{
  margin: 5% 3% 3% 5%;
}

#cta{
  background: #ff4c68;
  padding: 7% 15%;
  color: #ffffff;
}

.cta-heading{
  font-family: "Montserrat-Black";
  font-weight:700;
  font-size: 3.5rem;
}

#footer{
  padding: 4% 10%;

}
.social-icon{
  margin: 20px 10px;
}
